In [1]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os
import re

In [2]:
dados = pd.read_csv('../dados/titles.csv')
dados.tmdb_popularity.describe()

count    5759.000000
mean       22.637925
std        81.680263
min         0.009442
25%         2.728500
50%         6.821000
75%        16.590000
max      2274.044000
Name: tmdb_popularity, dtype: float64

In [3]:
def genero(csv):
    dados = csv
    lista_limpa = []
    for i in range(0,len(dados)):
        lista = dados['genres'].iloc[i].split(',')
        for x in lista:
            p = ''
            for l in x:
                if l != '[' and l !=']':
                    p += l
            lista_limpa.append(p)
                
    return(lista_limpa)

lista = genero(dados)

def count(lista):
    clean_up = []
    palavra_nova = ''

    for palavra in lista:
        for letra in palavra:
            palavra = str(palavra)
            if letra ==" ":
                palavra_nova = palavra.replace(letra, '')       
            
        clean_up.append(palavra_nova)        
    return(pd.DataFrame(clean_up).value_counts())
count(lista)

'drama'            2484
'comedy'           1598
'romance'          1369
'thriller'         1322
'action'           1121
'crime'            1090
'european'         1018
'family'            891
'fantasy'           810
'documentation'     584
'animation'         535
'scifi'             495
'music'             386
'horror'            382
'history'           375
'sport'             332
'war'               178
'reality'           133
'western'            42
                      2
dtype: int64

In [4]:
filmes = dados.loc[dados.type=='MOVIE']
Qter= filmes['tmdb_popularity'].quantile(0.75)
Qpri= filmes['tmdb_popularity'].quantile(0.25)
iq= Qter - Qpri
LS = Qter + 1.5*iq
LI= Qpri - 1.5*iq
filtro = filmes.loc[(filmes['tmdb_popularity']>LI)&(filmes['tmdb_popularity']<LS)]

In [5]:
print('Fizemos a função gênero para conseguir analisar, dado a nossa target = popularidade dos filmes,\nqual a relação entre o gênero dele e a sua popularidade')
def generos(genero, csv):
    dados = csv
    dados[genero] = dados['genres']
    for i in range(0,len(dados)):
            lista = dados['genres'].iloc[i]
            if genero in lista:
                dados[genero].iloc[i] = 1
            else:
                dados[genero].iloc[i] = 0
    return(dados)
print('essa é a base de dados com alguns gêneros aplicados pela função')
filtro = generos('comedy', filtro)
filtro = generos('romance', filtro)
filtro = generos('drama', filtro)
filtro = generos('action', filtro)
filtro = generos('fantasy', filtro)
filtro = generos('horror', filtro)
filtro

Fizemos a função gênero para conseguir analisar, dado a nossa target = popularidade dos filmes,
qual a relação entre o gênero dele e a sua popularidade
essa é a base de dados com alguns gêneros aplicados pela função

C:\Users\luiza\AppData\Local\Temp/ipykernel_57024/216173965.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados[genero] = dados['genres']
c:\Users\luiza\anaconda3\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,...,imdb_score,imdb_votes,tmdb_popularity,tmdb_score,comedy,romance,drama,action,fantasy,horror
2,tm154986,Deliverance,MOVIE,Intent on seeing the Cahulawassee River before...,1972,R,109,"['drama', 'action', 'thriller', 'european']",['US'],NaN,...,7.7,107673.0,10.010,7.300,0,0,1,1,0,0
3,tm127384,Monty Python and the Holy Grail,MOVIE,"King Arthur, accompanied by his squire, recrui...",1975,PG,91,"['fantasy', 'action', 'comedy']",['GB'],NaN,...,8.2,534486.0,15.461,7.811,1,0,0,1,1,0
4,tm120801,The Dirty Dozen,MOVIE,12 American military prisoners in World War II...,1967,NaN,150,"['war', 'action']","['GB', 'US']",NaN,...,7.7,72662.0,20.398,7.600,0,0,0,1,0,0
6,tm70993,Life of Brian,MOVIE,"Brian Cohen is an average young Jewish man, bu...",1979,R,94,['comedy'],['GB'],NaN,...,8.0,395024.0,17.770,7.800,1,0,0,0,0,0
7,tm14873,Dirty Harry,MOVIE,When a madman dubbed 'Scorpio' terrorizes San ...,1971,R,102,"['thriller', 'action', 'crime']",['US'],NaN,...,7.7,155051.0,12.817,7.500,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5841,tm985215,Princess 'Daya'Reese,MOVIE,Reese is a con artist from Manila who dreams o...,2021,NaN,115,"['comedy', 'romance']",['PH'],NaN,...,7.1,50.0,1.383,NaN,1,1,0,0,0,0
5843,tm1097142,My Bride,MOVIE,The story follows a young man and woman who go...,2021,NaN,93,"['romance', 'comedy', 'drama']",['EG'],NaN,...,5.0,327.0,2.545,5.300,1,1,1,0,0,0
5845,tm1014599,Fine Wine,MOVIE,A beautiful love story that can happen between...,2021,NaN,100,"['romance', 'drama']",['NG'],NaN,...,6.8,45.0,1.466,NaN,0,1,1,0,0,0
5847,tm1059008,Lokillo,MOVIE,A controversial TV host and comedian who has b...,2021,NaN,90,['comedy'],['CO'],NaN,...,3.8,68.0,26.005,6.300,1,0,0,0,0,0
5848,tm1035612,Dad Stop Embarrassing Me - The Afterparty,MOVIE,"Jamie Foxx, David Alan Grier and more from the...",2021,PG-13,37,[],['US'],NaN,...,NaN,NaN,1.296,10.000,0,0,0,0,0,0

In [6]:
print('Para saber quais os gêneros mais comuns nos filmes e eliminar os menos relevantes, fizemos essa função para analisar gênero e popularidade, que recebe a base de dados e retorna uma lista com todos os gêneros')
filmes= dados.loc[(dados.type == 'MOVIE'), :]
def comum(dados):
    dados = dados.genres
    generos = []
    for i in range(0,len(dados)):
        lista = dados[i]
        for x in lista:
            if x not in generos:
                generos.append(x)
        i+=1
    return(generos)
gen_filmes = comum(dados) 
print(gen_filmes)

Para saber quais os gêneros mais comuns nos filmes e eliminar os menos relevantes, fizemos essa função para analisar gênero e popularidade, que recebe a base de dados e retorna uma lista com todos os gêneros
['[', "'", 'd', 'o', 'c', 'u', 'm', 'e', 'n', 't', 'a', 'i', ']', 'r', ',', ' ', 'h', 'l', 'p', 'f', 's', 'y', 'w']

In [7]:
def scatter (v1, v2):
    plt.scatter(v1, v2, alpha=0.4)
    plt.title('Gráfico de dispersão entre popularidade e quantidade de votos')
    plt.xlabel('quantidade de votos')
    plt.ylabel('popularidade')
    plt.subplots_adjust(top=1)
    print('Correlação entre tmdb_popularity e imdb_votes é {0:.2f}'.format(v2.corr(v1)))
    return(plt.show())

In [8]:
#função para achar o limite superior e limite inferior das variáveis quantitativas
filmes= dados.loc[(dados.type == 'MOVIE'), :]

def valores_extremos(dados, vari):
    dados= dados[vari]
    Qter= dados.quantile(0.75)
    Qpri= dados.quantile(0.25)
    iq= Qter - Qpri
    LS = Qter + 1.5*iq
    LI= Qpri - 1.5*iq
    return(dados.loc[(dados>LI)&(dados<LS)])

valores_extremos(filmes, 'tmdb_popularity')

2       10.010
3       15.461
4       20.398
6       17.770
7       12.817
         ...
5841     1.383
5843     2.545
5845     1.466
5847    26.005
5848     1.296
Name: tmdb_popularity, Length: 3254, dtype: float64

In [9]:
def hist(var): 
    faixa_var = np.linspace(var.min(), var.max(), 20)
    plt.hist(var,faixa_var , edgecolor='white', density=True)
    plt.title("notas_tmdb")

    return(plt.show())