In [2]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os
import re

In [8]:
dados = pd.read_csv('../dados/titles.csv')
dados.tmdb_popularity.describe()

count    5759.000000
mean       22.637925
std        81.680263
min         0.009442
25%         2.728500
50%         6.821000
75%        16.590000
max      2274.044000
Name: tmdb_popularity, dtype: float64

In [13]:
# A target escolhida para avaliar quais filmes apresentam maior satisfaÃ§Ã£o dos usuÃ¡rios foi a popularidade de acordo com o tmdb. Esta
# varia de 0.009442 a 2274.044000.

# Primeiro filtramos nossa base para avaliar somente os filmes:
filmes = dados.loc[dados.type=='MOVIE']
filmes

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
1,tm84618,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works ...,1976,R,114,"['drama', 'crime']",['US'],NaN,tt0075314,8.2,808582.0,40.965,8.179
2,tm154986,Deliverance,MOVIE,Intent on seeing the Cahulawassee River before...,1972,R,109,"['drama', 'action', 'thriller', 'european']",['US'],NaN,tt0068473,7.7,107673.0,10.010,7.300
3,tm127384,Monty Python and the Holy Grail,MOVIE,"King Arthur, accompanied by his squire, recrui...",1975,PG,91,"['fantasy', 'action', 'comedy']",['GB'],NaN,tt0071853,8.2,534486.0,15.461,7.811
4,tm120801,The Dirty Dozen,MOVIE,12 American military prisoners in World War II...,1967,NaN,150,"['war', 'action']","['GB', 'US']",NaN,tt0061578,7.7,72662.0,20.398,7.600
6,tm70993,Life of Brian,MOVIE,"Brian Cohen is an average young Jewish man, bu...",1979,R,94,['comedy'],['GB'],NaN,tt0079470,8.0,395024.0,17.770,7.800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5844,tm1074617,Bling Empire - The Afterparty,MOVIE,"The stars of ""Bling Empire"" discuss the show's...",2021,NaN,35,[],['US'],NaN,NaN,NaN,NaN,NaN,NaN
5845,tm1014599,Fine Wine,MOVIE,A beautiful love story that can happen between...,2021,NaN,100,"['romance', 'drama']",['NG'],NaN,tt13857480,6.8,45.0,1.466,NaN
5846,tm898842,C/O Kaadhal,MOVIE,A heart warming film that explores the concept...,2021,NaN,134,['drama'],[],NaN,tt11803618,7.7,348.0,NaN,NaN
5847,tm1059008,Lokillo,MOVIE,A controversial TV host and comedian who has b...,2021,NaN,90,['comedy'],['CO'],NaN,tt14585902,3.8,68.0,26.005,6.300
5848,tm1035612,Dad Stop Embarrassing Me - The Afterparty,MOVIE,"Jamie Foxx, David Alan Grier and more from the...",2021,PG-13,37,[],['US'],NaN,NaN,NaN,NaN,1.296,10.000

In [10]:
maior_80 = dados.loc[dados['tmdb_popularity']>80]
maior_80['genres'].value_counts()
#comedia, drama, romance, aÃ§Ã£o, fantasia, horror

['comedy']                                                          7
['drama', 'romance']                                                7
['romance', 'drama']                                                6
['drama', 'comedy']                                                 5
['drama', 'crime', 'thriller']                                      4
                                                                   ..
['drama', 'comedy', 'thriller']                                     1
['action', 'fantasy', 'animation', 'comedy', 'family']              1
['drama', 'action', 'crime', 'history']                             1
['comedy', 'drama', 'action', 'animation', 'fantasy', 'romance']    1
['comedy', 'family', 'animation']                                   1
Name: genres, Length: 222, dtype: int64

In [12]:
for i in range(0,len(filmes)):
    print(i)
    break

AttributeError: 'DataFrame' object has no attribute 'row'