In [2]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os
import re

In [8]:
dados = pd.read_csv('../dados/titles.csv')
dados.tmdb_popularity.describe()

count    5759.000000
mean       22.637925
std        81.680263
min         0.009442
25%         2.728500
50%         6.821000
75%        16.590000
max      2274.044000
Name: tmdb_popularity, dtype: float64

In [62]:
dados['Drama'] = dados['genres']
for i in range(0,len(dados)):
        lista = dados['genres'].iloc[i]
        if 'drama' in lista:
            dados['Drama'][i] = 1
        else:
            dados['Drama'][i] = 0

dados.head(1)

C:\Users\grupo\AppData\Local\Temp/ipykernel_12508/2503074335.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados['Drama'][i] = 0
C:\Users\grupo\AppData\Local\Temp/ipykernel_12508/2503074335.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados['Drama'][i] = 1

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score,Drama
0,ts300399,Five Came Back: The Reference Films,SHOW,This collection includes 12 World War II-era p...,1945,TV-MA,51,['documentation'],['US'],1.0,NaN,NaN,NaN,0.6,NaN,0

In [63]:
dados['comedia'] = dados['genres']
for i in range(0,len(dados)):
        lista = dados['genres'].iloc[i]
        if 'comedia' in lista:
            dados['comedia'][i] = 1
        else:
            dados['comedia'][i] = 0

dados.head(1)

C:\Users\grupo\AppData\Local\Temp/ipykernel_12508/615969179.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados['comedia'][i] = 0

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score,Drama,comedia
0,ts300399,Five Came Back: The Reference Films,SHOW,This collection includes 12 World War II-era p...,1945,TV-MA,51,['documentation'],['US'],1.0,NaN,NaN,NaN,0.6,NaN,0,0

In [64]:
dados['romance'] = dados['genres']
for i in range(0,len(dados)):
        lista = dados['genres'].iloc[i]
        if 'romance' in lista:
            dados['romance'][i] = 1
        else:
            dados['romance'][i] = 0

dados.head(1)

C:\Users\grupo\AppData\Local\Temp/ipykernel_12508/1051652357.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados['romance'][i] = 0
C:\Users\grupo\AppData\Local\Temp/ipykernel_12508/1051652357.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados['romance'][i] = 1

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score,Drama,comedia,romance
0,ts300399,Five Came Back: The Reference Films,SHOW,This collection includes 12 World War II-era p...,1945,TV-MA,51,['documentation'],['US'],1.0,NaN,NaN,NaN,0.6,NaN,0,0,0

In [65]:
dados['action'] = dados['genres']
for i in range(0,len(dados)):
        lista = dados['genres'].iloc[i]
        if 'action' in lista:
            dados['action'][i] = 1
        else:
            dados['action'][i] = 0

dados.head(1)

C:\Users\grupo\AppData\Local\Temp/ipykernel_12508/59498740.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados['action'][i] = 0
C:\Users\grupo\AppData\Local\Temp/ipykernel_12508/59498740.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados['action'][i] = 1

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score,Drama,comedia,romance,action
0,ts300399,Five Came Back: The Reference Films,SHOW,This collection includes 12 World War II-era p...,1945,TV-MA,51,['documentation'],['US'],1.0,NaN,NaN,NaN,0.6,NaN,0,0,0,0

In [66]:
dados['fantasy'] = dados['genres']
for i in range(0,len(dados)):
        lista = dados['genres'].iloc[i]
        if 'fantasy' in lista:
            dados['fantasy'][i] = 1
        else:
            dados['fantasy'][i] = 0

dados.head(1)

C:\Users\grupo\AppData\Local\Temp/ipykernel_12508/2357019316.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados['fantasy'][i] = 0
C:\Users\grupo\AppData\Local\Temp/ipykernel_12508/2357019316.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados['fantasy'][i] = 1

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score,Drama,comedia,romance,action,fantasy
0,ts300399,Five Came Back: The Reference Films,SHOW,This collection includes 12 World War II-era p...,1945,TV-MA,51,['documentation'],['US'],1.0,NaN,NaN,NaN,0.6,NaN,0,0,0,0,0

In [67]:
dados['horror'] = dados['genres']
for i in range(0,len(dados)):
        lista = dados['genres'].iloc[i]
        if 'horror' in lista:
            dados['horror'][i] = 1
        else:
            dados['horror'][i] = 0

dados.head(1)

C:\Users\grupo\AppData\Local\Temp/ipykernel_12508/3578763068.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados['horror'][i] = 0
C:\Users\grupo\AppData\Local\Temp/ipykernel_12508/3578763068.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados['horror'][i] = 1

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,...,imdb_score,imdb_votes,tmdb_popularity,tmdb_score,Drama,comedia,romance,action,fantasy,horror
0,ts300399,Five Came Back: The Reference Films,SHOW,This collection includes 12 World War II-era p...,1945,TV-MA,51,['documentation'],['US'],1.0,...,NaN,NaN,0.6,NaN,0,0,0,0,0,0

In [69]:
# A target escolhida para avaliar quais filmes apresentam maior satisfação dos usuários foi a popularidade de acordo com o tmdb. Esta
# varia de 0.009442 a 2274.044000.

# Primeiro filtramos nossa base para avaliar somente os filmes:
filmes = dados.loc[dados.type=='MOVIE']
filmes.head()

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,...,imdb_score,imdb_votes,tmdb_popularity,tmdb_score,Drama,comedia,romance,action,fantasy,horror
1,tm84618,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works ...,1976,R,114,"['drama', 'crime']",['US'],NaN,...,8.2,808582.0,40.965,8.179,1,0,0,0,0,0
2,tm154986,Deliverance,MOVIE,Intent on seeing the Cahulawassee River before...,1972,R,109,"['drama', 'action', 'thriller', 'european']",['US'],NaN,...,7.7,107673.0,10.010,7.300,1,0,0,1,0,0
3,tm127384,Monty Python and the Holy Grail,MOVIE,"King Arthur, accompanied by his squire, recrui...",1975,PG,91,"['fantasy', 'action', 'comedy']",['GB'],NaN,...,8.2,534486.0,15.461,7.811,0,0,0,1,1,0
4,tm120801,The Dirty Dozen,MOVIE,12 American military prisoners in World War II...,1967,NaN,150,"['war', 'action']","['GB', 'US']",NaN,...,7.7,72662.0,20.398,7.600,0,0,0,1,0,0
6,tm70993,Life of Brian,MOVIE,"Brian Cohen is an average young Jewish man, bu...",1979,R,94,['comedy'],['GB'],NaN,...,8.0,395024.0,17.770,7.800,0,0,0,0,0,0